body{
    background-image:url(bg/ecommerce-2140603__480.webp);
    /* background-image:url(photos/Produits/backg/pexels-pixabay-509922.jpg); */
    background-size:111%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0%;
}
#container{
    position: absolute;
    top: -4%;
    width:440px;
    right: 650px;
    margin:10% 10% 10% 25% ;
    background-position: center;
}
form {
    width:90%;
    height: 260px;
    padding: 30px;
    background: #2525258e;
    border-radius: 10px;
    box-shadow: 2px 2px 30px  rgba(19, 18, 18, 0.13);
}
#container h1{
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Bahnschrift';
}
input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    letter-spacing: 2px;
    border-radius: 10px;
    font-family: 'Bahnschrift';
}
label{
    color: rgb(216, 216, 216);
    font-size: 20px;
    font-family: 'Bahnschrift';
}
input[type=submit] {
    background-color: #125370;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 50px;
    font-size: 15px;
    right: -259px;
    position: relative;
    top: 10%;
    text-align: center;
    align-items: center;
    font-family: 'Bahnschrift';
}
button[type=submit]:hover {
    background-color:#dbdbdbd2;
    color:#125370;
    border: 1px solid #464747;
}
hr{
    color: white;
}
i{
    font-family: 'Bahnschrift';
    width: 26px;
    font-size: 19px;
    float: left;
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
}
.err{
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.726);
    font-weight: 400;
    right: 990px;
    font-family: 'Bahnschrift';
    position: absolute;
    top: 67%;
    z-index: 1;
}